.welcome {
  width: 100%;
  height: 100vh;
  font-family: $font-second;
  position: relative;

  &:before {
    background: url("../images/welcome.jpg") 100% / cover;
    z-index: 2;
    filter: blur(10px);
    @include size(100%);
    @include pseudo;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background: white(0.7);
    @include size(100%)
  }

  &__icon {
    margin: 0 0 30px;
    fill: #da4648;
    @include size(120px)
  }

  &__title {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 300;
    color: $gray-800;
    line-height: 1.4;
    @include MQ(xs) {
      font-size: 1.2rem;
    }
  }
}