include helpers/index

-let title = 'Welcome to 4dev Template Project';
-let description = 'Template for Quick start';
-let keywords = 'Page keywords';

-let production = false;

doctype
html(lang="ru")
	head
		include includes/head
	body
		include includes/header
		+welcome('Welcome to 4dev Template Project')
		include includes/footer