//helpers
@import 'helpers/mixin';
@import 'helpers/colors';
@import 'helpers/fonts';
@import 'helpers/base';
@import 'helpers/reset';
@import 'helpers/grid';
@import 'helpers/sprite';
//components
@import 'components/example';

body {
    background: $white;
    font-family: $font-primary;
}
